	<div class="col-xl-3 col-lg-4 col-md-4">
					<div class="card card-custom gutter-b bg-white border-0">
						<div class="card-body" >
							<div class="shop-profile">
								<div class="media">
									<div class="bg-primary w-100px h-100px d-flex justify-content-center align-items-center">
										<h2 class="mb-0 white">C</h2>
									</div>
									<div class="media-body ml-3">
										<h3 class="title font-weight-bold">Coffe</h3>
										<p class="phoonenumber">
											+62 895-226-164-59
										</p>
										<p class="adddress">
											Depok, Cimanggis
										</p>
										<p class="countryname">Indonesia</p>
									</div>
								</div>
							</div>
							<div class="resulttable-pos">
								<table class="table right-table">

									<tbody>
										<tr class="d-flex align-items-center justify-content-between">
											<th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
												<?php echo $today ?>
											</th>
											<td class="border-0 justify-content-end d-flex text-dark font-size-base"><?php echo $time?></td>

										</tr>

										<tr class="d-flex align-items-center justify-content-between">
											<th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
												Name menu
											</th>
											<th><!-- jumlah pesan --></th>
											<td class="border-0 justify-content-end d-flex text-dark font-size-base">$900</td>

										</tr>

										<tr class="d-flex align-items-center justify-content-between">
											<th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
												Subtotal
											</th>
											<td class="border-0 justify-content-end d-flex text-dark font-size-base">$900</td>

										</tr>

										<tr class="d-flex align-items-center justify-content-between item-price">
											<th class="border-0 font-size-h5 mb-0 font-size-bold text-primary">

												TOTAL
											</th>
											<td class="border-0 justify-content-end d-flex text-primary font-size-base">$81000</td>

										</tr>

									</tbody>
								</table>
							</div>
								<div class="resulttable-pos">
								<table class="table right-table">
									<tbody>	
										<tr class="d-flex align-items-center justify-content-between">
											<th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
												Cash
											</th>
											<td class="border-0 justify-content-end d-flex text-dark font-size-base">$900</td>
										</tr>
										<tr class="d-flex align-items-center justify-content-between">
											<th class="border-0 font-size-h5 mb-0 font-size-bold text-dark">
												Change
											</th>
											<td class="border-0 justify-content-end d-flex text-dark font-size-base">$900</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="d-flex justify-content-end align-items-center flex-column buttons-cash">
								<div> 
									<a href="#" class="btn btn-primary white mb-2"  data-toggle="modal" data-target="#payment-popup">
										<i class="fas fa-money-bill-wave mr-2"></i>
										Pay
									</a>

								</div>
							</div>
						</div>	
					</div>
				</div>